<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body ng-app="mean">
    <h1><%= title %></h1>


    <div ng-view=""></div>

 
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="/app/controllers/demo.js"></script>
  </body>
</html>